<h1>
<div>
Superman and Batman are in battle!
</div>
</h1>

<h2>It's your turn! <%= @current_player.name %> Press Attack</h2>


<div>
	<img src= 'http://cdn1.tabletmag.com/wp-content/files_mf/superman.jpg' width="700" height="320">
</div>

<form action="/attacked" method="post">
	<input type="submit" value="Attack!" />
</form>

<h2>
<div>
<%= @player_1_name.name %>: <%= @player_1_name.hp %>HP  <%= @player_2_name.name %>: <%= @player_2_name.hp %>HP
</div>
</h2>
