<h1>
<div> 
Superman and Batman are in battle!
</div>
</h1>

<h1> Superman starts</h1>
<h2><%= @player_1_name.name %> Press Attack</h2>


<div>
	<img src= 'http://cdn1.tabletmag.com/wp-content/files_mf/superman.jpg' width="700" height="320">
</div>

<form action="/attacked" method="post">
	<input type="submit" value="Attack!" />
</form>

<h2>
<div>
<%= @player_1_name.name %>: <%= @player_1_name.default_points %>HP  <%= @player_2_name.name %>: <%= @player_2_name.default_points %>HP
</div>
</h2>
